* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
  gap: 10px;
}

.card {
  position: relative;
  width: 248px;
  height: 324px;
}
#form {
  width: 1200px;
  margin: auto;
  padding-top: 200px;
}
.card-img {
  display: none;
  justify-content: space-around;
  color: white;
  background: #000;
  height: 50px;
}
.card:hover .card-img {
  height: 50px;
  position: absolute;
  bottom: 0;
  border: 0;
  display: flex;
  align-items: end;
  text-align: center;
}
input:hover{
        outline: none;
}
input:focus{
        outline: none;
}
.rr{
    z-index: -100;
}